:root {
    --primary-color: #111d29;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
   
       background-size: cover;
background-repeat: no-repeat;
    width: 200px;
    height: 100vh;
    background-position: center;
    display: grid;
display: flex;
flex-direction: column;
background-color: var(--primary-color);
}



main{
      background-image: url();
       background-size: cover;
background-repeat: no-repeat;
    width: 200px;
    height: 100vh;
    background-position: center;
    display: grid;
display: flex;
flex-direction: column;
background-color: var(--p);
       background-size: cover;
background-repeat: no-repeat;
    width: 200px;
    height: 100vh;
    background-position: center;
    display: grid;
display: flex;
flex-direction: column;

    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -500px ;
    margin-top: 50px;

} 

main .landing {
    position: relative;

width: 100%;
height: 77vh;
background: linear-gradient();
}
.countdown{
    position: absolute;
    right: 5vw;
    top: 15vh;
    width: 45rem;
    height: 50rem;
    padding: 15px;
    margin-top: 3rem;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition: .4s ease-in-out;

}
.countdown:hover{
    transform: scale(1.06);
}

.countdown .date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff3;
    padding: 5.5rem 5rem;
    border-radius: .6rem;
    backdrop-filter: blur(2px);
    text-shadow: 0 .1rem .1rem #0008;
text-align: center; 
margin-left: 30px;
margin-bottom: 15px;

}
.countdown button{
    align-self: center;
    background-color: #c2414b;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: .6rem;
    cursor: pointer;


}